:root {
  --color-dark-gray: hsl(0, 0%, 63%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-very-dark-gray: hsl(0, 0%, 27%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 12px;
  background-color: hsl(0, 0%, 98%); 
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2em; 
  font-weight: 700;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1.2em; 
  font-weight: 700;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
p {
  font-size: 1em;
  color: var(--color-very-dark-gray);
  line-height: 1.4em;
}
main {
  background-color: var(--color-white);
}

main img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.shop-link a {
  display: inline-block;
  position: relative;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 3em;
  padding-right: 65px;
  color: var(--color-black);
}
.shop-link a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/icon-arrow.svg');
  background-position: right center;
  background-repeat: no-repeat;
}
.shop-link a:hover {
  text-decoration: none;
  padding-right: 75px;
}
header {
  max-width: 375px;
  margin: 0 auto;
  position: absolute;
  top:0;
  left: 0;
  right:0;
  /* background-color: #000; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3em 2em 2em;
  z-index: 1;
}
header > * {
  flex-grow: 1;
}

/*
  MENU
*/
header nav {
  display: flex;
  align-items: center;justify-content: space-between;
}
header .nav-menu {
  display: none;
}
nav .nav-menu li {
  display: inline-block;
  text-transform: lowercase;
  padding: 0 1em;
}
nav .nav-menu li a {
  color: var(--color-black);
  font-weight: 700;
}

body.menu-opened header {
  background-color: var(--color-white);
}
body.menu-opened .nav-menu {
  display: block;
}
body.menu-opened nav {
  position: relative;
}
body.menu-opened .logo {
  display: none;
}
.toggle-nav .close-ctl,
body.menu-opened .toggle-nav .open-ctl {
  display: none;
}
body.menu-opened .toggle-nav .close-ctl {
  display: block;
}

/*
  MAIN
*/
main {
  max-width: 375px;
  margin: 0 auto;
}
main .content {
  padding: 3em;
}

/*
  MAIN GRID DEFINITION
*/
main {
  display: grid;
  grid-auto-columns: 1fr 100px;
  grid-auto-rows: repeat(6, 1fr);
}
.slider-illustration {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.slider-control {
  grid-column: 2;
  grid-row: 2;
}
.slider-text {
  grid-column: 1 / span 2;
  grid-row: 3;
}
.illustration-one {
  grid-column: 1 / span 2;
  grid-row: 4;
}
.about-content {
  grid-column: 1 / span 2;
  grid-row: 5;
}
.illustration-two {
  grid-column: 1 / span 2;
  grid-row: 6;
}

.slider-text .item,
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em 3em;
  line-height: 1.4;
}
.slider-text p,
.about-content p {
  line-height: 1.6;
}

/*
  ELEMENTS STYLES
*/
.slider-control {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50px;
}
.slider-control > div {
  background-color: var(--color-black);
  display: inline-block;
  flex-basis: 50%;
  text-align:center;
  vertical-align: middle;
  padding: 16px;
  cursor: pointer;
}
.slider-control > div:hover {
  background-color: var(--color-dark-gray);
}
.slider-control > div img {
  display: inline-block;
  height: 18px;
  width: auto;
}

/*
  SLIDER
*/
.slider-illustration .item,
.slider-text .item {
  height: 100%;
  display: none;
}
.slider-illustration .item.active,
.slider-text .item.active {
  display: flex;
}

@media screen and (min-width: 1440px) {
  header,
  main {
    max-width: 1440px;
    margin: 0 auto;
  }
  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 60px;
  }
  .logo {
    flex-grow: 0;
  }
  nav {
    flex-grow: 2;
  }
  header .nav-menu {
    display: block;
    padding: 0 2em;
  }
  header .nav-menu li {
    padding: 0 2em;
    
  }
  nav .nav-menu li a,
  body.menu-opened nav .nav-menu li a {
    color: var(--color-white);
  }
  nav .toggle-nav {
    display: none;
  }
  body.menu-opened header {
    background: none;
  }
  body.menu-opened .logo {
    display: block;
  }
  
  main {
    display: grid;
    grid-auto-columns: 420px 420px 160px 440px;
    grid-auto-rows: repeat(3fr);
  }
  .slider-illustration {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
  .slider-control {
    grid-column: 3;
    grid-row: 2;
  }
  .slider-text {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
  }
  .illustration-one {
    grid-column: 1 / span 1;
    grid-row: 3;
  }
  .about-content {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
  .illustration-two {
    grid-column: 4 / span 1;
    grid-row: 3;
  }
  .slider-control {
    height: 80px;
  }
  .slider-control > div {
    padding: 26px;
  }
  .slider-control > div img {
    height: auto;
  }
  .slider-text,
  .about-content {
    padding: 0 7em;
  }
}

.attribution {
  margin: 1em 0;
  font-size: 11px; 
  text-align: center; 
}
.attribution a {
  color: hsl(228, 45%, 44%); 
}